<img ng-src="{{ vm.current.uri }}">

<div class="overlay" ng-show="!vm.isPlaying || vm.isLoading">
  <i ng-show="vm.isLoading"></i>
</div>

<i ng-click="vm.onFullscreenButtonClicked()"></i>

<div class="controls">
  <i ng-hide="vm.isPlaying" ng-click="vm.onPlayButtonClicked()"></i>
  <i ng-show="vm.isPlaying" ng-click="vm.onPauseButtonClicked()"></i>

  <app-countdown value="{{ vm.countdown }}"></app-countdown>

  <i ng-class="{ active: vm.isAuto }" ng-click="vm.onAutoButtonClicked()"></i>
  <i ng-class="{ acfive: vm.isShuffled }" ng-click="vm.onShuffleButtonClicked()"></i>
</div>
